<div class="upload-wrapper">
    <EditForm @ref="_form" Model="@_model">
        <InputFile hidden id="file-input"
                   ref="_fileFormField"
                   @bind-Value="_model.Files"
                   OnChange="HandleFileSelected"
                   multiple
                   accept="@_fileExtensions"/>


        <RadzenButton id="upload-button" Size="ButtonSize.ExtraSmall" Text="" Icon="upload" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary"/>
        @ChildContent
    </EditForm>


    @if (_filesToUpload.Count > 0)
    {
        <div class="mt-3 p-2 upload-status-wrapper">
            <span class="">
                <strong>Upload, ingestion, chunking and embedding memory</strong>

                <RadzenButton
                    Size="ButtonSize.ExtraSmall"
                    Icon="clear"
                    ButtonStyle="UploadProgress < 100 ? ButtonStyle.Warning : ButtonStyle.Primary"
                    Variant="Variant.Outlined"
                    Click="_filesToUpload.Clear"
                    class="float-end mb-3"/>
            </span>

            <RadzenProgressBar class="m-2"
                               Mode="ProgressBarMode.Determinate"
                               ShowValue="true"
                               ProgressBarStyle="@(UploadProgress == 100 ? ProgressBarStyle.Success : ProgressBarStyle.Primary)"
                               ShowLabel="true"
                               Value="@UploadProgress"/>

            @foreach (var f in _filesToUpload)
            {
                <div class="d-flex justify-content-between">
                    <div class="text-nowrap">
                        <RadzenIcon Icon="@GetIconByStatus(f.Status)" IconColor="@GetColorByStatus(f.Status)"/>
                        <RadzenIcon Icon="@GetIconByExtension(f.File.Name)"/>
                        @f.File.Name <small>(@GetFileSizeHumanFriendly(f.File.Size))</small>

                    </div>
                </div>
            }
            <hr/>
            <div id="legend">
                <RadzenIcon Icon="cloud_sync" IconColor="gray"/> Pending
                <RadzenIcon Icon="cloud_upload" IconColor="lightblue"/> Uploaded
                <RadzenIcon Icon="cloud_done" IconColor="green"/> Ingested
                <RadzenIcon Icon="cloud_upload" IconColor="red"/> Error
            </div>
        </div>
    }
</div>
