@using BlazorGPT.Pipeline
@using Microsoft.Extensions.Options

@inject IOptions<PipelineOptions> PipelineOptions
<div class="container border p-3 m-0">
    <div class="row">

        <div class="col">
            <strong>Chatmodel</strong>
        </div>        
    </div>
    <RadzenRadioButtonList TValue="ChatModelsProvider" @bind-Value=@model.Provider Change="OnModelsProviderChange">
        <Items>
            <RadzenRadioButtonListItem Text="OpenAI" Value="@ChatModelsProvider.OpenAI"/>
            <RadzenRadioButtonListItem Text="AzureOpenAI" Value="ChatModelsProvider.AzureOpenAI"/>
            <RadzenRadioButtonListItem Text="Ollama" Value="ChatModelsProvider.Ollama"/>
            <RadzenRadioButtonListItem Text="Local" Value="ChatModelsProvider.Local"/>
        </Items>
    </RadzenRadioButtonList>
    <div class="row m-3">
        <div class="col-3">
            <RadzenText Class="mt-3">Model</RadzenText>
        </div>
        <div class="col-9">
            <RadzenDropDown TValue="string"
                            Change="Save"
                            Style="font-size: small;"
                            TValue="string"
                            Data="_models"@bind-Value="@model.Model"/>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-3">
            <RadzenText>Max tokens</RadzenText>

        </div>
        <div class="col-9">
            <RadzenNumeric Change="Save" TValue="int" @bind-Value="@model.MaxTokens" Max="10000" Step="1"></RadzenNumeric>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-3">
            <RadzenText>Temperature</RadzenText>
        </div>
        <div class="col-1">
            <RadzenText>@model.Temperature</RadzenText>
        </div>
        <div class="col-8">
            <RadzenSlider Change="Save" TValue="float" @bind-Value="@model.Temperature" Min="0" Max="1" Step="0.1" Class="me-3"/>
        </div>
    </div>
</div>

<div class="container border p-3 m-0">
    <div class="row">

        <div class="col">
            <strong>Embeddings</strong>
        </div>        
    </div>
    <RadzenRadioButtonList TValue="EmbeddingsModelProvider" @bind-Value=@model.EmbeddingsProvider Change="OnEmbeddingsModelsProviderChange">
        <Items>
            <RadzenRadioButtonListItem Text="OpenAI" Value="@EmbeddingsModelProvider.OpenAI" />
            <RadzenRadioButtonListItem Text="AzureOpenAI" Value="EmbeddingsModelProvider.AzureOpenAI" />
            <RadzenRadioButtonListItem Text="Ollama" Value="EmbeddingsModelProvider.Ollama" />
            <RadzenRadioButtonListItem Text="Local" Value="EmbeddingsModelProvider.Local" />
        </Items>
    </RadzenRadioButtonList>
    <div class="row m-3">
        <div class="col-3">
            <RadzenText Class="mt-3">Model</RadzenText>
        </div>
        <div class="col-9">
            <RadzenDropDown TValue="string"
                            Change="Save"
                            Style="font-size: small;"
                            TValue="string"
                            Data="_embeddingsModels"@bind-Value="@model.EmbeddingsModel"/>
        </div>
    </div>
</div>

@code {


    public string? SelectedModel { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Inject]
    ModelConfigurationService? ModelConfigurationService { get; set; }

    ModelConfiguration model = new();

    
 
    string[] _models;
    private string[]? _embeddingsModels;


    private void SetModels(bool setDefault = false)
    {
        switch (model.Provider)
        {
            case ChatModelsProvider.OpenAI:
                if(setDefault) model.Model = PipelineOptions.Value.Providers.OpenAI.ChatModel;
                _models = PipelineOptions.Value.Providers.OpenAI.ChatModels;
                break;
            case ChatModelsProvider.AzureOpenAI:
                if (setDefault) model.Model = PipelineOptions.Value.Providers.AzureOpenAI.ChatModel;
                _models = PipelineOptions.Value.Providers.AzureOpenAI.ChatModels.Select(o => o.Value).ToArray();
                break;

            case ChatModelsProvider.Ollama:
                if (setDefault) model.Model = PipelineOptions.Value.Providers.Ollama.ChatModel;
                _models = PipelineOptions.Value.Providers.Ollama.Models;
                break;

            case ChatModelsProvider.Local:
                if (setDefault) model.Model = PipelineOptions.Value.Providers.Local.ChatModel;
                _models = PipelineOptions.Value.Providers.Local.ChatModels;
                break;
            default:
                throw new ArgumentOutOfRangeException();
            
        }
        SelectedModel = model.Model;
        StateHasChanged();

    }

    private async Task OnModelsProviderChange()
    {
        SetModels(true);
        await Save();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            model =  await ModelConfigurationService!.GetConfig();
            SetModels();
            SetEmbeddingsModels();
        }
    }

    public async Task Save()
    {
        await ModelConfigurationService?.SaveConfig(model)!;
    }

    private async Task OnEmbeddingsModelsProviderChange(EmbeddingsModelProvider arg)
    {

        SetEmbeddingsModels(true);
        await Save();
    }

    public string? SelectedEmbeddingsModel { get; set; }

    private void SetEmbeddingsModels(bool setDefault = false)
    {
        switch (model.EmbeddingsProvider)
        {
            case EmbeddingsModelProvider.OpenAI:
                if (setDefault) model.EmbeddingsModel = PipelineOptions.Value.Providers.OpenAI.EmbeddingsModel;
                _embeddingsModels = PipelineOptions.Value.Providers.OpenAI.EmbeddingsModels;
                break;
            case EmbeddingsModelProvider.AzureOpenAI:
                if (setDefault) model.EmbeddingsModel = PipelineOptions.Value.Providers.AzureOpenAI.EmbeddingsModel;
                _embeddingsModels = PipelineOptions.Value.Providers.AzureOpenAI.EmbeddingsModels.Select(o => o.Value).ToArray();
                break;

            case EmbeddingsModelProvider.Ollama:
                if (setDefault) model.EmbeddingsModel = PipelineOptions.Value.Providers.Ollama.EmbeddingsModel;
                _embeddingsModels = PipelineOptions.Value.Providers.Ollama.EmbeddingsModels;
                break;

            case EmbeddingsModelProvider.Local:
                if (setDefault) model.EmbeddingsModel = PipelineOptions.Value.Providers.Local.EmbeddingsModel;
                _embeddingsModels = PipelineOptions.Value.Providers.Local.EmbeddingsModels;
                break;
            default:
                throw new ArgumentOutOfRangeException();
            
        }
        SelectedEmbeddingsModel = model.EmbeddingsModel;
        StateHasChanged();
    }

}