@if (AllowUpload)
{
    <EditForm @ref="_form" Model="@_model" class="file-upload-wrapper">
        <InputFile hidden id="file-input"
                   ref="_fileFormField"
                   @bind-Value="_model.Files"
                   OnChange="HandleFileSelected"
                   multiple
                   accept="@_fileExtensions"/>
        <ul class="inline-list m-3 ps-0">
            @foreach (var file in _filesOnDisk)
            {
                <li class="text-nowrap">
                    <a href="@($"{ContainerPath}/{FolderName}/{file.Name}")" target="_blank">
                        @if (ImageExtensions.Contains(System.IO.Path.GetExtension(file.Name)))
                        {
                            <img class="file-thumbnail" src="@($"{ContainerPath}/{FolderName}/{file.Name}")"/>
                        }
                        else
                        {
                            <RadzenIcon Icon="draft"/>
                        }
                        <strong>@file.Name</strong>
                    </a>
                    <RadzenButton Size="ButtonSize.ExtraSmall" Icon="delete" Variant="Variant.Outlined" Click="() => DeleteFile(file.Name)" ButtonStyle="ButtonStyle.Danger"/>
                </li>
            }
        </ul>


        <RadzenButton id="upload-button" Size="ButtonSize.ExtraSmall" Icon="upload" Variant="Variant.Flat" />

@*         <button id="upload-button" style="@(!AllowUpload ? "display:none;" : "")">

            Upload
        </button> *@

    </EditForm>
}

@code {
    [Parameter]
    public bool AllowUpload { get; set; } = true;
}